/* ===============
     Main Body 
   =============== */

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/full-bg-banner.png);
}
